In [4]:
%%sql
DROP SCHEMA IF EXISTS ise18_ex7_stocks CASCADE;
CREATE SCHEMA ise18_ex7_stocks;


CREATE TABLE ise18_ex7_stocks.aapl_s1_bid_a(
    time TIMESTAMP,
    open NUMERIC(7, 3),
    high NUMERIC(7, 3),
    low NUMERIC(7, 3),
    close NUMERIC(7, 3),
    volume FLOAT);

INSERT INTO ise18_ex7_stocks.aapl_s1_bid_a
    (time, open, high, low, close, volume) VALUES
    ('2017-10-23 14:30:00.000', 156.848, 156.848, 156.848, 156.848, 0.36),
    ('2017-10-23 14:30:01.000', 156.837, 156.837, 156.788, 156.788, 15.012),
    ('2017-10-23 14:30:02.000', 156.797, 156.797, 156.767, 156.787, 22.502),
    ('2017-10-23 14:30:03.000', 156.787, 156.787, 156.778, 156.778, 30),
    ('2017-10-23 14:30:04.000', 156.778, 156.778, 156.748, 156.748, 15),
    ('2017-10-23 14:30:05.000', 156.788, 156.788, 156.727, 156.788, 37.9),
    ('2017-10-23 14:30:06.000', 156.748, 156.748, 156.737, 156.737, 15),
    ('2017-10-23 14:30:07.000', 156.737, 156.737, 156.737, 156.737, 30),
    ('2017-10-23 14:30:08.000', 156.647, 156.647, 156.618, 156.627, 23.627),
    ('2017-10-23 14:30:09.000', 156.618, 156.618, 156.598, 156.598, 8.01);
    
CREATE TABLE ise18_ex7_stocks.aapl_s1_ask_a(
    time TIMESTAMP,
    open NUMERIC(7, 3),
    high NUMERIC(7, 3),
    low NUMERIC(7, 3),
    close NUMERIC(7, 3),
    volume FLOAT);

INSERT INTO ise18_ex7_stocks.aapl_s1_ask_a
    (time, open, high, low, close, volume) VALUES
    ('2017-10-23 14:30:00.000', 156.882, 156.882, 156.882, 156.882, 7.5),
    ('2017-10-23 14:30:01.000', 156.913, 156.913, 156.822, 156.822, 7.985),
    ('2017-10-23 14:30:02.000', 156.853, 156.853, 156.843, 156.843, 15.59),
    ('2017-10-23 14:30:03.000', 156.833, 156.833, 156.808, 156.833, 0.457),
    ('2017-10-23 14:30:04.000', 156.832, 156.832, 156.792, 156.792, 15),
    ('2017-10-23 14:30:05.000', 156.833, 156.833, 156.752, 156.822, 0.987),
    ('2017-10-23 14:30:06.000', 156.823, 156.823, 156.783, 156.783, 7.73),
    ('2017-10-23 14:30:07.000', 156.753, 156.783, 156.753, 156.783, 10.302),
    ('2017-10-23 14:30:08.000', 156.702, 156.703, 156.672, 156.702, 15.247),
    ('2017-10-23 14:30:09.000', 156.692, 156.692, 156.692, 156.692, 0.151);

CREATE TABLE ise18_ex7_stocks.aapl_s1_bid_b(
    time TIMESTAMP,
    open NUMERIC(7, 3),
    high NUMERIC(7, 3),
    low NUMERIC(7, 3),
    close NUMERIC(7, 3),
    volume FLOAT);

INSERT INTO ise18_ex7_stocks.aapl_s1_bid_b
    (time, open, high, low, close, volume) VALUES
    ('2017-10-23 14:30:05.000', 156.788, 156.788, 156.727, 156.788, 37.9),
    ('2017-10-23 14:30:06.000', 156.748, 156.748, 156.737, 156.737, 15),
    ('2017-10-23 14:30:07.000', 156.737, 156.737, 156.737, 156.737, 30),
    ('2017-10-23 14:30:08.000', 156.647, 156.647, 156.618, 156.627, 23.627),
    ('2017-10-23 14:30:09.000', 156.618, 156.618, 156.598, 156.598, 8.01),
    ('2017-10-23 14:30:10.000', 156.598, 156.627, 156.598, 156.608, 0.665),
    ('2017-10-23 14:30:11.000', 156.607, 156.607, 156.597, 156.597, 17.6),
    ('2017-10-23 14:30:12.000', 156.652, 156.657, 156.598, 156.598, 22.53),
    ('2017-10-23 14:30:13.000', 156.597, 156.597, 156.568, 156.568, 22.5),
    ('2017-10-23 14:30:14.000', 156.567, 156.567, 156.567, 156.567, 0.23);
    
CREATE TABLE ise18_ex7_stocks.goog_s1_bid_a(
    time TIMESTAMP,
    open NUMERIC(7, 3),
    high NUMERIC(7, 3),
    low NUMERIC(7, 3),
    close NUMERIC(7, 3),
    volume FLOAT);

INSERT INTO ise18_ex7_stocks.goog_s1_bid_a
    (time, open, high, low, close, volume) VALUES   
    ('2017-10-23 14:30:01.000', 1005.708, 1005.708, 1005.708, 1005.708, 15),
    ('2017-10-23 14:30:02.000', 1005.267, 1005.267, 1005.267, 1005.267, 0.019),
    ('2017-10-23 14:30:03.000', 1005.148, 1005.148, 1005.148, 1005.148, 22.5),
    ('2017-10-23 14:30:04.000', 1005.148, 1005.528, 1005.148, 1005.528, 30),
    ('2017-10-23 14:30:05.000', 1004.997, 1005.068, 1004.997, 1005.068, 0.042),
    ('2017-10-23 14:30:06.000', 1005.068, 1005.068, 1005.068, 1005.068, 0.001),
    ('2017-10-23 14:30:07.000', 1005.058, 1005.058, 1005.058, 1005.058, 10),
    ('2017-10-23 14:30:09.000', 1005.068, 1005.068, 1004.987, 1004.987, 7.501),
    ('2017-10-23 14:30:10.000', 1004.797, 1004.797, 1004.797, 1004.797, 10),
    ('2017-10-23 14:30:12.000', 1004.798, 1004.798, 1004.527, 1004.527, 7.501);
    
CREATE TABLE ise18_ex7_stocks.goog_s1_ask_a(
    time TIMESTAMP,
    open NUMERIC(7, 3),
    high NUMERIC(7, 3),
    low NUMERIC(7, 3),
    close NUMERIC(7, 3),
    volume FLOAT);

INSERT INTO ise18_ex7_stocks.goog_s1_ask_a
    (time, open, high, low, close, volume) VALUES 
    ('2017-10-23 14:30:01.000', 1005.723, 1005.732, 1005.723, 1005.732, 10.019),
    ('2017-10-23 14:30:02.000', 1005.622, 1005.622, 1005.622, 1005.622, 7.5),
    ('2017-10-23 14:30:03.000', 1005.622, 1005.622, 1005.412, 1005.622, 15.013),
    ('2017-10-23 14:30:04.000', 1005.262, 1005.992, 1005.262, 1005.853, 17.505),
    ('2017-10-23 14:30:05.000', 1005.853, 1005.993, 1005.802, 1005.802, 0.094),
    ('2017-10-23 14:30:06.000', 1005.422, 1005.422, 1005.422, 1005.422, 7.5),
    ('2017-10-23 14:30:07.000', 1005.802, 1005.802, 1005.802, 1005.802, 10.2),
    ('2017-10-23 14:30:09.000', 1005.273, 1005.273, 1005.233, 1005.233, 15),
    ('2017-10-23 14:30:10.000', 1005.463, 1005.463, 1005.463, 1005.463, 10.1),
    ('2017-10-23 14:30:12.000', 1005.462, 1005.462, 1005.062, 1005.062, 0.235);

 * postgresql://Oli:***@localhost/postgres
Done.
Done.
Done.
10 rows affected.
Done.
10 rows affected.
Done.
10 rows affected.
Done.
10 rows affected.
Done.
10 rows affected.

[]

1 Find the sum of the following algebraic operation on the attributes of table __aapl_s1_bid_a__ and name it __sum\_value__ :  

$$ (\text{close} - \text{open}) * \text{volume} \rightarrow \text{transaction_value} $$

1a. Write in this cell the relational algebra expression
$$ \gamma_{\text{SUM(transaction_value)} \rightarrow \text{sum_value}}(\pi_{\text{(close-open)*value} \rightarrow \text{transaction_value}}(\text{aapl_s1_bid_a})) $$

In [13]:
%%sql
SELECT SUM(transaction_value) AS sum_value FROM
(SELECT ((close-open)*volume) AS transaction_value FROM ise18_ex7_stocks.aapl_s1_bid_a) AS transactiontable;

 * postgresql://Oli:***@localhost/postgres
1 rows affected.

[(-2.478348,)]

2 By performing relational algebra operations on the tables __aapl_s1_bid_a__ and __goog_s1_bid_a__ , produce a relation with the following columns:  
- time (only once)
- (aapl_s1_bid_a.close - aapl_s1_bid_a.open) * aapl_s1_bid_a.volume AS aapl_tval
- (goog_s1_bid_a.close - goog_s1_bid_a.open) * goog_s1_bid_a.volume AS goog_tval

The produced relation must contain all information from __aapl_s1_bid_a__ and __goog_s1_bid_a__ that satisfy __either__ of the following constraints:
 - time = 2017-10-23 14:30:07
 - time = 2017-10-23 14:30:09

2a. Write in this cell the relational algebra expression
$$ \sigma_{\text{time = 2017-10-23 14:30:07 || 2017-10-23 14:30:09}} 
(\pi_{\text{time, (close-open)*volume} \rightarrow \text{aapl_tval}}(\text{aapl_s1_bid_a}) \cup
\pi_{\text{(close-open)*volume} \rightarrow \text{goog_tval}}(\text{goog_s1_bid_a})) $$

In [63]:
%%sql
SELECT time, ((close-open)*volume) AS aapl_tval, ((gclose-gopen)*gvolume) AS goog_tval
FROM ise18_ex7_stocks.aapl_s1_bid_a INNER JOIN (SELECT time AS gtime, open AS gopen, close AS gclose, 
volume AS gvolume 
FROM ise18_ex7_stocks.goog_s1_bid_a) AS google 
ON time = gtime 
WHERE time = '2017-10-23 14:30:07' OR time = '2017-10-23 14:30:09';

 * postgresql://Oli:***@localhost/postgres
2 rows affected.

[(datetime.datetime(2017, 10, 23, 14, 30, 7), 0.0, 0.0),
 (datetime.datetime(2017, 10, 23, 14, 30, 9), -0.1602, -0.607581)]

3 The difference between the ask and bid prices is called spread. Calculate the average spread of the 'close' price of Apple's stock in the time interval [14:30:05, 14:30:08). Use the tables __aapl_s1_bid_a__ and __aapl_s1_ask_a__.

3a. Write in this cell the relational algebra expression
$$ \pi_{\text{AVG(bid_close-ask_close) } \rightarrow \text{ avg_spread}}(
\sigma_{\text{14:30:05 <= time <= 14:30:08}}(
\rho_{\text{close } \rightarrow \text{ bid_close}}(\text{aapl_s1_bid_a}) \cup 
\rho_{\text{time } \rightarrow \text{ask_time, close } \rightarrow \text{ ask_close}}(\text{aapl_s1_ask_a})))) $$

In [79]:
%%sql
SELECT AVG(close-ask_close) AS avg_spread 
FROM ise18_ex7_stocks.aapl_s1_bid_a INNER JOIN (SELECT time AS ask_time, close AS ask_close 
FROM ise18_ex7_stocks.aapl_s1_ask_a) AS ask 
ON time = ask_time
WHERE time >= '2017-10-23 14:30:05' AND time <= '2017-10-23 14:30:08';

 * postgresql://Oli:***@localhost/postgres
1 rows affected.

[(Decimal('-0.05025000000000000000'),)]

For the following tasks, write __only__ the corresponding SQL query:

4 Continuing from the previous question, count the number of times that the spread of the __close__ price of Google's stock was greater than that of Apple's stock, for all timestamps in the __aapl/goog_s1_bid/ask_a__ tables. Include in the count the cases where there is an entry for Google, but not for Apple.

In [107]:
%%sql
SELECT COUNT(spread_google) AS solution
FROM (SELECT time, (close-ask_close_apple) AS spread_apple 
      FROM ise18_ex7_stocks.aapl_s1_bid_a INNER JOIN (SELECT time AS ask_time_apple, close AS ask_close_apple 
                                                FROM ise18_ex7_stocks.aapl_s1_ask_a) AS ask_apple
     ON time = ask_time_apple) 
AS apple 
RIGHT OUTER JOIN (SELECT bid_time_google, (bid_close_google-ask_close_google) AS spread_google 
FROM (SELECT time AS bid_time_google, close AS bid_close_google
FROM ise18_ex7_stocks.goog_s1_bid_a) AS bid_google INNER JOIN 
                  (SELECT time AS ask_time_google, close AS ask_close_google 
                                        FROM ise18_ex7_stocks.goog_s1_ask_a) AS ask_google
     ON bid_time_google = ask_time_google) 
AS google
ON time = bid_time_google
WHERE spread_google < spread_apple OR spread_apple IS NULL;

 * postgresql://Oli:***@localhost/postgres
1 rows affected.

[(9,)]

5 The difference between the high and low prices is called range. Count the number of times that the range of the __ask__ price of Apple's stock was greater than that of Google's stock, for all timestamps in the __aapl/goog_s1_ask_a__ tables. Include in the count the cases where there is an entry for Apple, but not for Google.

In [112]:
%%sql
SELECT COUNT(range_apple) AS solution
FROM (SELECT time, (high-low) AS range_apple 
      FROM ise18_ex7_stocks.aapl_s1_ask_a) 
      AS apple 
      LEFT OUTER JOIN (SELECT time AS time_google, (high-low) AS range_google
                      FROM ise18_ex7_stocks.goog_s1_ask_a) 
      AS google
ON time = time_google
WHERE range_google < range_apple OR range_google IS NULL;

 * postgresql://Oli:***@localhost/postgres
1 rows affected.

[(6,)]